body{
    margin: auto;
    background: rgb(29, 29, 29); 
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    background-color: black;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: black;
    border: 1px solid white;
}

::-webkit-scrollbar-button{
    background-color: white;
}

.cuerpo{
    width: 85%;
    margin: auto;
}

header{
    margin-top: 20px;
}

/*#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}*/

.logo{
    margin: auto;
    margin-bottom: 40px;
}

.nav{
    list-style: none;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid orangered;
    background-color: rgba(51, 51, 51, 0.459);
    width: 100%;
    margin: auto;
}

.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 10px;
    display: block;
}

.nav li{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.nav li.active a{
    background-color: orangered;
}

.nav li a:hover{
    background-color: orangered;
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.contenido{
    margin-top: 70px;
    width: 100%;
}

.carpetas{
    float: left;
    margin-bottom: 50px;
}

.carpetas tr td{
    padding: 30px;
    background-color: rgba(51, 51, 51, 0.459);
}

.datos{
    float: right;
}

.datos tr td{
    color: white;
    padding: 15px;
    border-left: 2px solid #52bd94;
    background-color: rgba(51, 51, 51, 0.459);
}