.tabla_calif{
    float: left;
    margin-bottom: 300px;
}

.tabla_calif th{
    border: none;
    padding: 25px;
    text-transform: uppercase;
    background-color: #52bd94;
    color: black;
}

.tabla_calif tr td{
    border: none;
    padding: 25px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.459);
    color: white;
}

.resultados{
    position: absolute;
    top: 760px;
    font-size: 20px;
    color: white;
}