body{
    margin: auto;
    background-color: black;
    font-size: 17px;
}

::-webkit-scrollbar{
    background-color: black;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: green;
    border: 1px solid white;
}

::-webkit-scrollbar-button{
    background-color: white;
}

.cuerpo{
    width: 80%;
    margin: auto;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.logo{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.nav{
    list-style: none;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid green;
    width: 100%;
    margin: auto;
}

.nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav li{
    margin-left: 20px;
    display: inline-block;
    text-align: center;
}

.nav li a:hover{
    background-color: green;
}

.tit1{
    border-left: 10px solid green;
    color: white;
    width: 150px;
    padding-left: 10px;
    font-size: 25px;
}

.tit1:hover{
    background-color: green;
}

.contenido{
    margin-top: 50px;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: green;
}

.carpetas{
    width: 64%;
    float: left;
    background-color: rgba(0, 0, 0, 0.602);
}

.datos{
    background-color: rgba(0, 0, 0, 0.602);
    width: 35%;
    float: right;
    height: 350px;
    color: white;
    border: 1px solid white;
}

.contenido_dat{
    padding: 15px;
}
